<h1>not so fast</h1>

<% if @message == "not_on_allowlist" %>
  <p>your Hack Club Auth login worked, but you're not on Mnemosyne's staff list yet. ping whoever runs this thing.</p>
<% else %>
  <p>something went wrong signing in (<%= @message %>). try again?</p>
<% end %>

<%= link_to "back to login", login_path %>
